
.body{
  background-color: #fff;
  text-align: center;
}
.header{
  padding: 0px 20px 0px 20px;
  margin: 0 auto;
  width: 1000px;
  background: #f0f2f5;
}
.action{
  color: #000;
  text-decoration: none;
  margin-left: 1em;
  float: right;
}
.content{
  width: 1000px;
  margin: auto;
  text-align: left;
}
.inner{
  padding: 10px 20px;
  margin: 0px auto;
  background: #eee9df;
  border: solid #000;
  border-width: 2px 0 2px 0;
  box-shadow: 0 1px 3px #eee9df;
}
.qrcodeWrap{
  text-align: center;
}
.qrcode {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: auto 20px;
}
.footer{
  font-size: 17px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
